<div style="display:flex;justify-content:center;align-items:center;height:90%">
	<div style="width:250px;height:350px;" class="mt-5">
		<form id="connection" #loginValidation="ngForm" (ngSubmit)="onLogin()" class="form-group">
			<input appAutofocus [(ngModel)]="loginUser.login" name="login" autofocus type="text"
				class="form-control text-center mb-1 " required placeholder="login" #loginValidation="ngModel">
			<input [(ngModel)]="loginUser.password" id="password" name="password" type="password"
				class="form-control text-center mb-1 " required placeholder="mot de passe"
				#passwordValidation="ngModel">
			<input [disabled]="!loginValidation.valid" type="submit" value="Se connecter"
				class="btn btn-primary btn-block">
		</form>
		<div id="error" class="alert alert-danger">Erreur, mauvais identifiants</div>
	</div>
</div>